body {
  background-color: #f2f2df;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}
header {
  border-style: solid;
}

textarea{
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.display-3 {
  text-shadow: 5px 5px 9px rgb(21, 52, 233);
}
.jumbotron {
  text-align: center;
  background-color: rgb(214, 250, 236);
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
  margin: 10px;
}

.description{
  white-space: pre-wrap;
}

.time-block{
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 65px;
  border-top: 1px solid #f2f2df;
}

.hour {
  background-color: #9c43e9;
  padding-top: 13px;
  color: white;
  border-top: 2px solid #000000;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.past {
  background-color: #d3d3d3;
  color: rgb(82, 79, 79);
}

.present {
  background-color: #ff6961;
  color: white;
}

.future {
  background-color: #1cdf8b;
  color: white;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #ed7d1b;
  color: white;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all .3s ease-in-out;
}
